{% extends 'base.html' %}

{% block head %}
  <title>En Passant Analyser</title>
{% endblock %}

{% block main %}
  <main class="index">
    <h2>Check how many En Passants you have accepted or declined on
      <a href="https://lichess.org" target="_blank" rel="noopener noreferrer">lichess.org</a>
    </h2>

    <form action="{{ url_for('index') }}" method="post">
      <p>Enter lichess username:</p>
      <input autocomplete="off" autofocus type="text" id="username" name="username" placeholder="Username" spellcheck="false">
      
      {% if error %}
        <p class="error">Error: {{ error }}</p>
      {% endif %}

      <button type="submit">CLICK HERE TO ANALYSE GAMES</button>
    </form>

    <figure>
      <img src="{{ url_for('static', filename='en-passant-animation.gif') }}" alt="En Passant Animation">
      <figcaption>
        <a href="https://google.com/search?q=En+Passant" target="_blank" rel="noopener noreferrer">Google En Passant.</a>
      </figcaption>
    </figure>
  </main>
{% endblock %}