{% extends 'base.html' %}

{% block head %}
  <title>En Passant Leaderboards</title>
{% endblock %}

{% block main %}
  <main class="leaderboards">
    <h2>Leaderboards</h2>

    <div class="tables">
      <table class="leaderboard">
        <tr>
          <th>Username</th>
          <th>Opportunities</th>
          <th>Accepted %</th>
        </tr>
        {% for results in percentage_results %}
          <tr>
            <td>{{ loop.index }}.
              <a class="username" href="{{ url_for('results', username=results[0]) }}">{{ results[0] }}</a>
            </td>
            <td>{{ results[1] }}</td>
            <td>{{ results[2] | round(2) }}</td>
          </tr>
        {% endfor %}
      </table>

      <table class="leaderboard">
        <tr>
          <th>Username</th>
          <th>Games</th>
          <th>Bricks</th>
        </tr>
        {% for results in declined_results %}
          <tr>
            <td>{{ loop.index }}.
              <a class="username" href="{{ url_for('results', username=results[0]) }}">{{ results[0] }}</a>
            </td>
            <td>{{ results[1] }}</td>
            <td>{{ results[2] }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </main>
{% endblock %}